<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/about.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="container">

        <div class="menu">
            <h1 class="title">
                <a style="text-decoration:none; color:black" href="./">La Livadă</a>
            </h1>
        <!-- Meniul -->
            <div class="nav-bar">
                <a style="text-decoration: none;" href="./">
                    <div class="nav">Home</div>
                </a>   
                <a style="text-decoration: none;" href="./menu">
                    <div class="nav">Menu</div>
                </a>   
                <a style="text-decoration: none;" href="./about">
                    <div class="nav">About</div>
                </a>   
            </div>
        </div>

        <div class="contents">

            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22290.740636799048!2d21.06130599975585!3d45.70416380552153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474544821b45deed%3A0xe439a3f9ee7ab135!2sLa%20Livada%20Banateana!5e0!3m2!1sen!2sro!4v1657033868584!5m2!1sen!2sro"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <div class="text">
                <h1>Description</h1>
                <p>A place where you can chill outside with your friends,
                outside the city and outside any problems. Come over
                during the day or night or whenever you want to</p>
            </div>

        </div>

    </div>
    
</body>
</html>